{% extends "layout.html" %}

{% block content %}

    <article>
        <h3>BPS Toolbox - Introductie</h3>
        <p>BPS toolbox is een Web App die engineers en adviseurs binnen de bouwfysica en installatietechniek
            hulpmiddelen biedt om technische vragen te beantwoorden. Het voordeel van een Web Applicatie
            is dat deze technische hulpstukken overal en altijd beschikbaar zijn zolang er verbinding is met internet.
            Daarnaast wordt het rekenwerk verricht door het datacentrum waardoor in principe ook
            met lichte apparatuur zware berekeningen uitgevoerd kunnen worden.</p>
    </article>
  

{% endblock %}
