{% extends "layout.html" %}

{% block content %}

<div class="userform">

    <h2>Gebruiker registratie</h2><br>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <label>Gebruikersnaam:</label>
        {{ form.username }}
        <label>Email</label>
        {{ form.email(class_="form-style-"+form.email.name) }}
        <label>Wachtwoord:</label>
        {{ form.password }}
        <label>Verifieer Wachtwoord:</label>
        {{ form.password }}<br><br>
        {{ form.submit }}
    </form>

</div>

{% endblock %}